.row
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h1.panel-title Menu
      .panel-body
        = link_to 'New Theme', new_theme_path, class: 'btn btn-success btn-block'

  .col-sm-9
    .panel.panel-default
      .panel-heading
        %h1.panel-title Theme list

      %table.table.table-striped
        %thead
          %tr
            %th Title
            %th Background
            %th Navbar
        %tbody
          - @themes.each do |theme|
            %tr
              %td= link_to theme.title, theme
              %td= theme.background
              %td= theme.navbar
