.panel.panel-default
  .panel-heading
    %h1.panel-title Users
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Admin?
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.admin? ? 'Yes' : 'No'
