- content_for :navbar do
  %nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        .navbar-brand.book-title
          #{book.title}
          \: #{@chapter.try(:title) || book.try(:chapters).try(:first).try(:title)}

      %ul.nav.navbar-nav.navbar-right
        - if can? :manage, book
          %li
            = link_to edit_book_path(book), class: 'navbar-link' do
              %i.fa.fa-edit
              Manage book
