.row
  .col-sm-3
    = render @book
    = render 'chapters/menu_list', chapters: @book.chapters, active_chapter: @book.chapters.first
  .col-sm-9.text-center
    - if @book.chapters.any?
      - cache @book do
        = render @book.chapters.first
