= simple_form_for(@chapter, wrapper: :inline_form, html: { class: 'form-inline' }) do |f|
  = f.association :book, collection: current_user.books.order(title: :asc), prompt: "Select a book"
  = f.button :submit, value: 'Save', class: 'btn btn-primary'
