- unless chapters.nil?
  .panel.panel-default
    .panel-heading
      %h1.panel-title
        %strong Chapters

    %div.list-group
      - chapters.each do |chapter|
        = active_link_to chapter, class: 'list-group-item', active: chapter == active_chapter do
          %strong= chapter
          %div
            #{chapter.created_at.strftime('%B %e, %Y')}
          -# = render 'reorder', chapter: chapter
