.navbar-brand.site-title {
  font-size: 2.5em;
  line-height: 15px;
  color: #000;
}

.sub-navbar {
  margin-top: -21px;
}

.grid-sizer, .grid-item {
  width: 400px;
  margin-bottom: 5px;
}

.grid-item .thumbnail {
  height: 300px;  
}

.grid a.thumbnail:hover {
  text-decoration: none;
}

.grid {
  margin: 0 auto;
}

.grid.pages {
  .grid-sizer, .grid-item {
    width: 330px;
    height: 250px;
    margin-bottom: 5px;
  }
}

.thumbnail {
  position: relative;

  .caption.inline {
    text-align: left;
    color: #fff;
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: rgba(0,0,0, 0.3);
  }
}

.caption h3 {
  margin-top: 0px;
}
